/* Global IDs */

* {
	box-sizing: border-box;
}

body {
	padding-top: 100px;
	position: relative;
}

/* Individual IDs */

#connectImageOne {
	height: 46px;
	width: 48px;
	margin-top: 2.5px;
	margin-right: 12px;
	padding-bottom: 1.5px;
}

#connectImageTwo {
	height: 50px;
	width: 50px;
	margin-right: 12px;
}

#connectImageThree {
	height: 50px;
	width: 50px;
}

/* #contactBox {
	position: fixed;
} */

#contactForm {
	width: 100%;
}

/* Classes */

.sidebar-nav {
	position: fixed;
}

/* .navbar, #contactBox {
	margin-top: 30px;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#eee));
	background-image: -webkit-linear-gradient(top, #f7f7f7 0%, #eee 100%);
	background-image: -o-linear-gradient(top, #f7f7f7 0%, #eee 100%);
	background-image: linear-gradient(to bottom, #f7f7f7 0%, #eee 100%);
} */

.album {
	margin-top: 20px;
	padding-top: 3rem;
	padding-bottom: 3rem;
	background-color: #f7f7f7;
  }
  
.card {
padding: .75rem;
margin: 0px;
border: 0;
}

.card > img {
margin-bottom: .75rem;
}

.card-text {
font-size: 85%;
}

.cardButton {
	width: 100%;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 40px;
	line-height: 40px;
}

/* Queries */

@media screen and (min-width: 768px) {
	#sidebar {
		position: fixed;
	}
}

@media screen and (max-width: 767px) {
	.row-offcanvas {
	  position: relative;
	  -webkit-transition: all .25s ease-out;
		   -o-transition: all .25s ease-out;
			  transition: all .25s ease-out;
	}
  
	.row-offcanvas-left {
	  left: 0;
	}
  
	.row-offcanvas-left
	.sidebar-offcanvas {
	  left: -100%; /* 12 columns */
	}
  
	.row-offcanvas-left.active
	.sidebar-offcanvas {
	  left: -50%; /* 6 columns */
	}
  
	.row-offcanvas-left.active {
	  left: 50%; /* 6 columns */
	}
  
	.sidebar-offcanvas {
	  position: absolute;
	  top: 0;
	  width: 50%; /* 6 columns */
	}
  }