/* Global IDs */

* {
	box-sizing: border-box;
}

body {
	padding-top: 100px;
	position: relative;
}

/* Individual IDs */

#connectImageOne {
	height: 46px;
	width: 48px;
	margin-top: 2.5px;
	margin-right: 12px;
	padding-bottom: 1.5px;
}

#connectImageTwo {
	height: 50px;
	width: 50px;
	margin-right: 12px;
}

#connectImageThree {
	height: 50px;
	width: 50px;
}

/* #contactBox {
	position: fixed;
} */

#contactForm {
	width: 100%;
}

/* Classes */

.sidebar-nav {
	position: fixed;
}

/* .navbar, #contactBox {
	margin-top: 30px;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#eee));
	background-image: -webkit-linear-gradient(top, #f7f7f7 0%, #eee 100%);
	background-image: -o-linear-gradient(top, #f7f7f7 0%, #eee 100%);
	background-image: linear-gradient(to bottom, #f7f7f7 0%, #eee 100%);
} */

.album {
	margin-top: 20px;
	padding-top: 3rem;
	padding-bottom: 3rem;
	background-color: #f7f7f7;
  }
  
.card {
padding: .75rem;
margin: 0px;
border: 0;
}

.card > img {
margin-bottom: .75rem;
}

.card-text {
font-size: 85%;
}

.cardButton {
	width: 100%;
}

.card-img-top {
	height: 20px;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 40px;
	line-height: 40px;
}

/* Queries */

@media (min-width: 768px) {
	/* .navbar-nav {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
	}

	.navbar-nav .nav-item {
		-webkit-box-flex: 1;
		-webkit-flex: 1 0 auto;
		-ms-flex: 1 0 auto;
		flex: 1 0 auto;
	} */
}